:root {
    --azul:#B3DEE2;
    --amarelo:#EAF2D7;
    --rosabebê:#EFCFE3;
    --branco:#FFFFFF;
    --rosa:#E27396;
}
.cabecalho{
    background-color: var(--rosabebê);  
    display: flex;
    justify-content: flex-start;
}
.logo{
    width: 7%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.menu-item{
    padding: 5px;
    margin-top: 10px;
    font-size: 25px;
    color: var(--amarelo);
}