:root {
    --azul:#B3DEE2;
    --amarelo:#EAF2D7;
    --rosabebê:#EFCFE3;
    --branco:#FFFFFF;
    --rosa:#E27396;
}
*{
    margin: 0;
    padding: 1;
}
.cabecalho{
    background-color: var(--rosabebê);  
    display: flex;
    justify-content: stretch;
}
.logo{
    width: 7%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.menu-item{
    padding: 3px;
    margin-top: 10px;
    font-size: 25px;
    color: var(--rosa);
}
.principal{
    background-color: var(--rosa);
    color: var(--branco);
}